@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Weryfikacja dwuetapowa";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Nie masz żadnych kodów zabezpieczających.</strong>
                    <p>Musisz <a asp-page="./GenerateRecoveryCodes">wygenerować nowy kod</a> zanim będziesz mógł się logować poprzez kod zabezpieczający.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Masz 1 kod zabezpieczający.</strong>
                    <p>Możesz <a asp-page="./GenerateRecoveryCodes">wygenerować kolejny kod.</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Masz @Model.RecoveryCodesLeft kodów zabezpieczających.</strong>
                    <p>Musisz <a asp-page="./GenerateRecoveryCodes">wygenerować nowy kod</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Zapomnij przeglądarkę</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Wyłącz weryfikację dwuetapową.</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Resetuj kody zabezpieczające</a>
        }

        <h4>Aplikacja autoryzacyjna</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Dodaj aplikację zabezpieczającą</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Ustaw aplikację zabezpieczającą</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Resetuj aplikację zabezpieczającą</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Pliki cookie nie zostały zaakceptowane.</strong>
            <p>Musisz akceptować politykę prywatności aby móc korzystać z weryfikacji dwuetapowej.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
