@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<br />

<br />
<br />



<h1 class="text-danger">@ViewData["Error"] </h1>

<img src="~/images/LOGO.png" class="img col-lg-12" alt="My image" />