@{
    ViewData["Title"] = "Panel administratora";
}

<br />
<br />
<div class="container bg-light rounded-3 p-4">
    <p class="text-center h1">Panel administratora</p>
    <partial name="_Navigation" />
</div>