html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #dee2e6;
}
#Description {
    resize: none;
}
.addproductcard {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .5rem;
    padding: .5rem;
    position: center;
    display:flex;
    flex-wrap:wrap;
}
.imagepost{
    margin:6px;
}
.provider {
    margin-left:6px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#Providers {
    margin:3px,0px,0px,5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.btnaddproduct{
    margin-top:10px;
    position:center;
}
.providersconteiner {
    border: 3px solid #ced4da;
}

#GoTop {
    width:auto;
    height:auto;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: grey; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

    #GoTop:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }
