html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
#SearchString
{
    width: 100%;
}
html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #dee2e6;
}
#Description {
    resize: none;
}
.addproductcard {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .5rem;
    padding: .5rem;
    position: center;
    display:flex;
    flex-wrap:wrap;
}
.imagepost{
    margin:6px;
}
.provider {
    margin-left:6px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#Providers {
    margin:3px,0px,0px,5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.btnaddproduct{
    margin-top:10px;
    position:center;
}
.providersconteiner {
    border: 3px solid #ced4da;
}

#GoTop {
    width:auto;
    height:auto;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: grey; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

    #GoTop:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }
rating {
    display: flex;
}

.rating input {
    position: absolute;
    left: -100vw;
}

.rating label {
    width: 48px;
    height: 48px;
    padding: 48px 0 0;
    overflow: hidden;
    background: url('../images/stars.svg') no-repeat top left;
}

.rating:not(:hover) input:indeterminate + label,
.rating:not(:hover) input:checked ~ input + label,
.rating input:hover ~ input + label {
    background-position: -48px 0;
}

.rating:not(:hover) input:focus-visible + label {
    background-position: -96px 0;
}

.hearte {
    cursor: pointer;
    height: 110%;
    width: 110%;
    background-image: url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 2900%;
    position: center;
    margin-top: -10px;
}

.hearte:hover {
    background-position: right;
}

.liked {
    background-position: right;
}

.is_animating {
    animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}