@model List<Product>
@{
    ViewData["Title"] = "Search Result";
}

<form asp-controller="Search" asp-action="Index">

    Wpisz czego szukasz: @Html.TextBox("SearchString")

    <select name="sortOrder">
        <option value="">Alfabetycznie A-Z</option>
        <option value="name_desc">Alfabetycznie Z-A</option>
        <option value="Date">Od Najnowszego</option>
        <option value="date_desc">Od Najstarszego</option> 
    </select>
    
    <input type="submit" class="btn btn-outline-primary" value="Wyszukaj" />
</form>

<div class="text-center">
    <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">

                

                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    @foreach (var item in Model.Take(30))
                    {
                        <div class="main page items, rounded" style="background-color: #fff;">
                        <div class="col mb-5">
                            <a class="btn mt-auto" href="#">
                                <div class="card h-100" style="border:hidden">
                                    <!-- Product image-->
                                    <img class="card-img-top" src="@Url.Content(item.CoverURL)" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">@item.Name</h5>
                                            <!-- Product price-->
                                            @item.Price
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        </div>
                    }
                </div>
            </div>         
    </section>
</div>
